{#
    This template renders the facet sidebar for search results.
    It displays currently applied filters and available facet options.
#}

<div class="applied-filters">
    <h4>Applied Filters</h4>
    {% if selected_facets %}
        <ul>
        {% for key, values in selected_facets.items() %}
            {% for value in values %}
                <li class="applied-filter-tag">
                    {{ value }}
                    {# Logic to create a URL to remove this specific facet value #}
                    {% set new_args = request.args.to_dict(flat=False) %}
                    {% set _ = new_args[key].remove(value) %}
                    {# If the key has no more values, remove the key itself #}
                    {% if not new_args[key] %}{% set _ = new_args.pop(key) %}{% endif %}
                    <a href="{{ url_for('search', **new_args) }}" class="remove-facet-link" title="Remove filter">&times;</a>
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
        <a href="{{ url_for('search', query=query, expand=request.args.get('expand')) }}" class="clear-all-filters">Clear All</a>
    {% else %}
        <p>None</p>
    {% endif %}
</div>

<hr>

<div class="available-facets">
    <h4>Refine By</h4>
    {# Loop through facets, but only those that have values to display. #}
    {% for facet in facets if facet.facet_values %}
        <div class="facet-group">
            {# Generate a user-friendly display name if one isn't provided by the API #}
            {% set display_name = facet.display_name %}
            {% if not display_name and facet.key.startswith('attributes.') %}
                {% set display_name = facet.key[11:]|replace('_', ' ')|title %}
            {% elif not display_name %}
                {% set display_name = facet.key|replace('_', ' ')|title %}
            {% endif %}
            <h5>{{ display_name }}</h5>
            <ul>
                {% for val in facet.facet_values %}
                    {% set facet_display, facet_value_for_url = '', '' %}

                    {% if val.value %}
                        {# This is a standard text facet #}
                        {% set facet_display, facet_value_for_url = val.value, val.value %}
                    {% elif val.interval and val.interval.minimum is defined %}
                        {# This is a numerical interval facet. Display the lower bound of the interval. #}
                        {% set facet_display, facet_value_for_url = val.interval.minimum|round|int, val.interval.minimum|round|int %}
                    {% endif %}

                    {% if facet_display %}
                        <li class="facet-item"><a href="{{ request.path }}?{{ request.query_string }}&{{ facet.key }}={{ facet_value_for_url|urlencode }}">{{ facet_display }} ({{ val.count }})</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {# This block renders if the 'facets' list is empty or no facets have values. #}
        <p>No filters available for this search.</p>
    {% endfor %}
</div>