{% extends "base.html" %}

{% block title %}My Orders - {{ super() }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="mb-4">My Orders</h1>
            <p class="lead">This page will display your order history and allow you to track your orders.</p>
            <p>Content for order support, such as tracking and order status, will be available here soon.</p>
        </div>
    </div>
</div>
{% endblock %}